
.current-video{
  position: relative;
}

.upper-middle-text,
.upper-left-text-2,
.upper-left-text{
  position: absolute;
  font-size: 14px;
  top: 50px;
  left: 25px;
}

.upper-left-text-2{
  top: 70px;
  left: 33px;
}

.upper-middle-text{
  left: 45%;
}

.custom-middle-text{
  font-size: 18px;
}

.timer-text{
  position: absolute;
  font-size: 14px;
  top: 50px;
  right: 33px;
}

.seconds-text{
  font-size: 12px;
}

.current-youtube-video{
  margin-top: 30px;
}

.current-video-tint{
  background-color: #125862;
  width: 100%;
	height: 650px;
  pointer-events: none;
  top: 30px;
  position: absolute;
  opacity: 40%;
}

.test-current-youtube-video{
  width: 100%;
}

.test-current-youtube-video-tint{
  margin-left: 5px;
  margin-right: 5px;
  background-color: #125862;
  opacity: 60%;
  pointer-events: none;
}

.scenes-grid{
  background-color: #27393A;
  position: relative;
  margin-top: 35px;
  display: flex;
}

.bottom-content{
  position: relative;
}

.bottom-text{
  position: absolute;
  top: 4px;
  right: 62px;
}

.bottom-rectangle{
  position: absolute;
  right: 20.7px;
  top: 10.5px;
  width: 40px;
  height: 16px;
  border-radius: 2px;
  background-color: #D5FBFE;
}

.bottom-triangle{
  position: absolute;
  right: -25.5px;
  top: -21.6px;
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 15px solid transparent;
  border-top: 16px solid #D5FBFE;
  border-radius: 2px;
  margin: 2rem;
}

.bottom-horizontal-timer{
  width: 100%;
  position: absolute;
  top: 2px;
  pointer-events: none;
}

.top-seconds-timer{
  top: -30px;
  right: 0px;
  position: absolute;
  pointer-events: none;
  animation: top-seconds-timer-move 11.5s infinite linear;
  animation-play-state: paused;
  animation-direction: normal;
}

.popup{
  position: relative;
  z-index: 1;
  outline: none;
}

.contentBox{
  position: relative;
  width: 900px;
  height: 600px;
  background-color: #27393A;
  border-radius: 2px;
  display: flex;
  margin-top: 150px;
  border-color: #D5FBFE;
  border-style: solid;
}

.video-player-background{
  position: relative;
}

.pause-gesture-instruction{
  display: none;
}

.swipe-gesture-instruction{
  display: none;
}

.rotate-gesture-instruction{
  display: none;
}

.gesture-instruction-box{
  display: block;
  height: 400px;
  width: 650px;
  background-color: #27393A;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  display:flex;
  flex-direction: column;
  align-items: center;
  border-color: #D5FBFE;
  border-style: solid;
}

.popup-background{
  background-color: rgba(18, 88, 98, 0.6);
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: fill;
  display: flex;
  justify-content: center;
}

@keyframes top-seconds-timer-move {
  from {right: 0px;}
  to {right: -2100px;}
}
