@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

.video-player-background{
  background-color: #27393A;
  height: 900px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  outline: none;
}

p{
  color: #D5FBFE;
  margin: 0px;
  font-family: Days One;
  font-size: 18px;
}

.white-line{
  margin-top: 4px;
  height: 2px;
  width: 100%;
  background-color: #D5FBFE;
  position: relative;
}
