@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

p{
  color: #D5FBFE;
  margin: 0px;
  font-family: Days One;
  font-size: 18px;
}

.white-line{
  margin-top: 4px;
  height: 2px;
  width: 100%;
  background-color: #D5FBFE;
}
